<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Invoice</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 40px;
        line-height: 1.5;
      }
      h1,
      h2 {
        margin: 0 0 8px 0;
      }
      hr {
        margin: 20px 0;
        border: none;
        border-top: 0.1px solid #000;
      }
      /* Header */
      .invoice-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      .addresses {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
      }
      .address {
        width: 45%;
        box-sizing: border-box;
      }
      /* Table styling */
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      thead th {
        text-align: left;
      }
      thead tr:first-child th {
        padding-bottom: 8px;
      }
      tbody td {
        vertical-align: top;
        padding: 6px 0;
      }
      .top-separator td,
      .bottom-separator td {
        padding: 0;
      }
      .top-separator td {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
      .bottom-separator td {
        border-top: 0.1px solid #000;
      }
      .text-left {
        text-align: left;
      }
      .text-right {
        text-align: right;
      }
      .text-center {
        text-align: center;
      }
      .bold {
        font-weight: bold;
      }
      .line-row td {
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="invoice-header">
      <h1>INVOICE {{ .Invoice.Name }} from {{ .Config.CompanyName }}</h1>
      <div>
        <div>Invoice number: {{ .Invoice.Name }}</div>
        <div>Issue date: {{ .Invoice.IssueDate }}</div>
      </div>
    </div>
    <hr />

    <div class="addresses">
      <div class="address">
        <strong>Billed to</strong><br />
        {{ .Invoice.CustomerName }}
      </div>
      <div class="address">
        <strong>Issued by</strong><br />
        {{ .Config.CompanyName }}<br />
        {{ .Config.CompanyAddress }}
      </div>
    </div>

    <h2>1 EUR due by {{ .Invoice.DueDate }}</h2>

    <table>
      <thead>
        <tr>
          <th style="width: 25%">Product or service</th>
          <th style="width: 25%">Description</th>
          <th style="width: 10%" class="text-center">Quantity</th>
          <th style="width: 20%" class="text-right">Unit price</th>
          <th style="width: 20%" class="text-right">Total</th>
        </tr>
        <tr class="top-separator">
          <td colspan="5"></td>
        </tr>
      </thead>
      <tbody>
        {{ range .Invoice.Services }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .Description }}</td>
          <td>{{ .Quantity }}</td>
          <td class="text-right">{{ .Price }} EUR</td>
          <td class="text-right">{{ .PriceTotal }} EUR</td>
        </tr>
        {{ end }}
        <tr class="bottom-separator">
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="text-left bold">Total</td>
          <td class="text-right bold">{{ .Invoice.TotalAmount }}</td>
        </tr>
        <tr class="line-row">
          <td colspan="3"></td>
          <td colspan="2">
            <hr style="margin: 0.1px" />
          </td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="text-left bold"><h3>Amount due</h3></td>
          <td class="text-right bold"><h3>{{ .Invoice.TotalAmount }}</h3></td>
        </tr>
      </tbody>
    </table>

    <p><strong>Bank details</strong></p>
    <p>
      Account holder: {{ .Config.AccountName }}<br />
      IBAN: {{ .Config.IBAN }}<br />
      BIC: {{ .Config.BIC }}<br />
      Bank name and address:<br />
    </p>
  </body>
</html>
